<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head th:fragment="head">

    <!-- Bootstrap stylesheets and script -->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link th:href="@{/css/techjobs.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>

    <title th:text="'TechJobs' + ${title == null ? '' : ' :: ' + title}">TechJobs</title>
</head>

<body>

    <div th:fragment="page-header" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a th:href="@{/}" class="navbar-brand">TechJobs</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a th:href="@{/search}">Search</a></li>
                    <li><a th:href="@{/list}">List</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div th:fragment="display_search">
        <h3>
            <span th:text="${jobs.size()}" th:remove="tag">title</span>
            <normal th:text="Results" >Results</normal>
        </h3>
        <div th:if="${jobs} and ${jobs.size()}">
            <tr th:each="job, idx : ${jobs}" >
                <table class="job-listing">
                    <td>Position Type</td>
                    <td th:text="${job.position_type}"></td>
                    <tr>
                        <td>Name</td>
                        <td th:text="${job.name}"></td>
                    </tr>
                    <tr>
                        <td>Employer</td>
                        <td th:text="${job.employer}"></td>
                    </tr>
                    <tr>
                        <td>Location</td>
                        <td th:text="${job.location}"></td>
                    </tr>
                    <tr>
                        <td>Core Competency</td>
                        <td th:text="${job.core_competency}"></td>
                    </tr>

                </table>
            </tr>
        </div>
    </div>
</body>
</html>